beautifulsoup4==4.8.2
Flask==1.1.1
Flask-SocketIO==4.2.1
get==2019.4.13
gevent==1.5.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
post==2019.4.13
public==2019.4.13
pycparser==2.20
pylint==2.4.4
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.16
sqlparse==0.3.1

