.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.chat_dialog {
    display: none;
    position: fixed;
    bottom: 0;
    right: 8px;
    border: 3px solid #f1f1f1;
    width: 25%;
    z-index: 9;
    /* background-color: #45829b; */
}

.chat_window {
    position: absolute;
    min-width: 400px;
    height: 800px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 10px 0 8px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .buttons {
    margin: 1px 0 0 8px;
    position: absolute;
}

.top_menu .buttons .button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top_menu .buttons .button.close {
    background-color: #f5886e;
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}

.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 1.2rem;
}

.messages {
    position: relative;
    list-style: none;
    padding: 10px 10px 0 10px;
    margin: 0;
    height: 290px;
    overflow: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.messages .message.left .text {
    color: #c48843;
}

.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}

.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.messages .message.right .text {
    color: #45829b;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    width: calc(100% - 100px);
    min-width: 120px;
    position: relative;
    /* height: 50px; */
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
    top: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 0.8rem;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 0.5rem;
    margin-top: 10px;
}

.messages .message .text_wrapper .text {
    font-size: 1rem;
    font-weight: 300;
    word-wrap: break-word;
    font-family: 'Segoe UI';
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    position: relative;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 70px);
    position: relative;
    padding: 0 20px;
    /* overflow: hidden; */
}


/* .message_input_wrapper::-webkit-scrollbar {
    display: none;
} */

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
    font-size: 1rem;
}

.bottom_wrapper .send_message {
    width: 67px;
    height: 40px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 1px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.user {
    text-align: center;
    font-size: .8rem;
    margin-top: 40%;
    width: 50px;
    color: white;
}

.joined {
    margin-left: 18%;
    font-size: .7rem;
    color: #555;
}

.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}

.bottom_wrapper .send_message .text {
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    line-height: 35px;
}

.message_template {
    display: none;
}