/* .item img{

} */

h3 {
    color: #696969;
}

#section1 {
    background: #e8ebf5;
}

#section1 h3 {
    text-align: center;
    color: #696969;
    font-size: 2rem;
    padding: 1rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    /* grid-gap: 1rem; */
    margin-left: 1rem;
    /* padding-top: 2rem; */
    gap: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.items a {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    align-items: center;
}

.ite {
    border: 2px solid #696969;
    border-radius: 5px;
    margin: 1rem;
}

.ite img {
    width: 185px;
    height: 275px;
    border-radius: 5px;
}

.items a {
    color: #696969;
    width: 280px;
}

.movie-list .items .ite:hover .image {
    background-color: black;
}