<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Watch Movies 2gethr | Search</title>
    <meta name="title" content="Watch Movies 2gethr | Search">
    <meta name="description" content="Watch any movies together with your friends">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://movietogether.herokuapp.com/">
    <meta property="og:title" content="Watch Movies 2gethr | Search">
    <meta property="og:description" content="Watch any movies together with your friends">
    <meta property="og:image" content="{{ url_for('static', filename='watch2gethr.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://movietogether.herokuapp.com/">
    <meta property="twitter:title" content="Watch Movies 2gethr | Search">
    <meta property="twitter:description" content="Watch any movies together with your friends">
    <meta property="twitter:image" content="{{ url_for('static', filename='watch2gethr.png') }}">

    <title>Movies 2gethr | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 1200px)" href="{{ url_for('static', filename='css/ipad.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 670px)" href="{{ url_for('static', filename='css/mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/css/emojione.min.css" integrity="sha256-UZ7fDcAJctmoEcXmC5TPcZswNRqN/mLzj6uNS1GCVYs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/emojionearea.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojione/4.5.0/lib/js/emojione.min.js" integrity="sha256-6prVyFTFebTylZKXQyldiRwwBpitcr762cQvxPrP/xw=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/emojionearea.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>

<body>
    <nav id="navbar">
        <!-- navbar -->
        <h1 class="logo item">
            <span class="text-primary">
                <a href="/"><span class="text-primary">
                    <i class="fas fa-video"></i> Movies 2gethr
                </span></h1>
        </a>
        <div class="element">
            <ul class="item">
                <li><a href="/">Home</a></li>

            </ul>
            <form action="/" class="item" method="post">
                <input type="text" name="search" placeholder="Enter any movie name">
                <input type="hidden" value="submit">
                <a href="#"><i class="fas fa-search btn"></i></a>
            </form>
        </div>



    </nav>

    {% block content %} {% endblock %}

    <footer id="main-footer">
        <div class="container bg-dark text-center py-1">
            <p>Copyright &copy; 2020, Movies 2gethr</p>
        </div>

    </footer>


</body>

</html>