{% extends 'base.html' %} {% block title %} Search {% endblock %} {% block content %}
<header id="showcase">
    <div class="showcase-container">
        <h1 class="title logo"> <a href="/"><span class="text-primary">
                <i class="fas fa-video"></i> Movies 2gethr
            </span></h1></a>
            <form action="" method="POST">

                <div class="input">
                    <input type="text" name="search" placeholder="Enter any movie name">
                    <button type="submit" class="btn">Search</button>
                </div>

            </form>

    </div>
</header>
{% endblock %}